@import "../base/_fonts.scss";

$color-heading: #666d89;
$color-text: #767e9e;
$color-dark-bg: #2d303a;
$color-light-bg: #f2f2f2;
$color-red-bg: #f06c64;
$color-text-red-block: #f0d8d9;
$color-input-red: #d6564f;

$font-lato-bold: 'Lato-Bold', sans-serif;
$font-lato-black: 'Lato-Black', sans-serif;
$font-lato-light: 'Lato-Light', sans-serif;
$font-lato-regular: 'Lato-Regular', sans-serif;