@import "../abstracts/_variables.scss";

.about-list {
	padding-left: 0;
	display: grid;
	grid-template-areas:
	"item item item";
	grid-gap: 20px;
	list-style: none;

	@include tablet {
		grid-gap: 15px;
	}

	@include mobile-big {
		justify-items: center;
		grid-template-areas:
			"item"
			"item"
			"item";
	}
}

.photo {
	margin-top: 1px;
	width: 100%;
}

.about-block .description-title {
	margin-bottom: 44px;
}

.name {
	margin-top: 13px;
	margin-bottom: 12px;
	letter-spacing: -0.2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.description-about {
	font-size: 1.2rem;
	line-height: 1.6;
	text-align: justify;
}

.about-item {
	max-width: 300px;
	overflow: hidden;
}