@import "../abstracts/_variables.scss";

.about-list {
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	list-style: none;
}

.about-block .description-title {
	margin-bottom: 44px;
}

.name {
	margin-top: 12px;
	margin-bottom: 12px;
}

.description-about {
	max-height: 32px;
	overflow: hidden;
	font-size: 1.2rem;
	line-height: 1.6;
	text-align: justify;
}

.about-item {
	max-width: 300px;
	overflow: hidden;
}