@import "../abstracts/_variables.scss";

.block-slider {
	position: relative;
	height: 594px;
	max-height: 594px;

	@include desktop {
		height: 447px;
		max-height: 447px;
	}
	
	.slider-item-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		background-color: #ff6d64;
		border-bottom: 6px solid #ff676b;
	}
}

.slider-item {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	animation: 0.5s ease-in-out;

	&.visible,
	&.next {
		display: block;
		z-index: 100;
	}
}

.static-img {
	img {
		width: 100%;
	}
}

.to-left {
	animation-name: left;
}

.to-right {
	animation-name: right;
	animation-direction: reverse;
}

.from-left {
	animation-name: left;
	animation-direction: reverse;
}

.from-right {
	animation-name: right;
}


@keyframes left {
	from {
		left: 0;
	}

	to {
		left: -100%;
	}
}

@keyframes right {
	from {
		left: 100%;
	}

	to {
		left: 0;
	}
}

.phone {
	position: absolute;
	width: calc(( 215/1020 ) * 100%);
	height: calc(( 458/594) * 100%);
	background-color: #f2f2f2;
	border-radius: 27px;	
	overflow: hidden;

	@include desktop {
		width: 162px;
		height: 344px;
		border-radius: 18px;
	}

	@include tablet {
		width: 21.5%;/*162.36px;*/
		height: calc(100% - 100px);/*344.26px;*/
		border-radius: 20px;
	}					
}

.vertical-orient {
	left: calc(( 112/1020 ) * 100%);
	top: calc(( 52/594 ) * 100%);
	box-shadow: 25px 25px #eb5d55,
	20px 20px #eb5d55,
	15px 15px #eb5d55,
	10px 10px #eb5d55,
	5px 5px #eb5d55;

	@include desktop {
		left: calc(( 83/768 ) * 100%);
		top: calc(( 52/447 ) * 100%);
		box-shadow: 20px 20px #eb5d55,
		15px 15px #eb5d55,
		10px 10px #eb5d55,
		5px 5px #eb5d55;
	}
}

.horizont-orient {
	left: calc(( 563/1020 ) * 100%);
	top: calc(( 52/594 ) * 100%);
	box-shadow: 25px -25px #eb5d55,
	20px -20px #eb5d55,
	15px -15px #eb5d55,
	10px -10px #eb5d55,
	5px -5px #eb5d55;
	transform: rotate(90deg);

	@include desktop {
		box-shadow: 20px -20px #eb5d55,
		15px -15px #eb5d55,
		10px -10px #eb5d55,
		5px -5px #eb5d55;
	}
}

.phone-camera {
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -5px;
	width: 10px;
	height: 10px;
	background-color: #d8d8d8;
	border-radius: 50%;

	@include desktop {
		top: 12px;
	}
}

.phone-camera::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2px;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	background-color: #eb5055;
	border-radius: 50%;
}

.phone-dynamic {
	position: absolute;
	top: 36px;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 5px;
	background-color: #acacac;
	border-radius: 3px;

	@include desktop {
		height: 3.7px;
		top: 27.5px;
	}
}

.screen-vertical {
	position: absolute;
	width: calc(( 188/216 ) * 100%); 
	height: calc(( 334/458 ) * 100%);
	top: 62px;
	left: 11px;
	background-color: black;
	overflow: hidden;
	border: 2px solid #C7C7C7;
	border-radius: 5px;

	@include desktop {
		width: 141px;
		height: 250.7px;
		top: 49px;
		left: 8px;
	}
}

.screen-horizontal {
	position: absolute;
	width: calc(( 334/216 ) * 100%);
	height: calc(( 188/458 ) * 100%);
	top: 134px;
	left: -60px;
	transform: rotate(-90deg);
	background-color: black;
	border: 2px solid #C7C7C7;
	border-radius: 5px;
	overflow: hidden;

	@include desktop {
		top: 102px;
		left: -46px;
	}
}

.phone-img {
	position: absolute;
	opacity: 1;
}

.switch-off {
	.phone-img {
		opacity: 0;
	}
}

.phone-button {
	position: absolute;
	bottom: 9px;
	left: 50%;
	margin-left: -22px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #fafafa;

	@include desktop {
		width: 31px;
		height: 31px;
		margin-left: -15px;
		bottom: 6px;
	}
}

.phone-button::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	margin-left: -8px;
	margin-top: -8px;
	border: 2px solid #bababa;
	background-color: #fafafa;
	border-radius: 4px;

	@include desktop {
		width: 11px;
		height: 11px;
		border: 1px solid #bababa;
		margin-left: -7px;
		margin-top: -7px;
	}
}

.navigation .flex-items {
	flex-grow: 1;
	margin: 8px 13px 0;
	color: #494e62;
	font-size: 9px;
}

.navigation .flex-items:last-child {
	margin-right: 10px;
}

.navigation .flex-items a {
	font-size: 12px;
	vertical-align: middle;
	margin-left: 10px;
}

.navigation .flex-items:first-child {
	list-style: none;
}

.slider-controller {
	position: absolute;
	z-index: 400;
	top: 50%;
	width: 17px;
	height: 27px;
	transform: translateY(-60%);
}

.slider-controller:hover {
	cursor: pointer;
	opacity: 0.7;
}

.slider-controller.prev-arr {
	left: 42px;

	@include desktop {
		left: 29px;
	}
}

.slider-controller.next-arr {
	right: 40px;

	@include desktop {
		right: 26px;
	}
}
