@import "../abstracts/_variables.scss";

.main-menu {
	width: 425px;
	padding: 0;
	margin-top: 20px;

	.menu-item {
		display: inline-block;
		padding: 0 13.5px;
		letter-spacing: -0.2px;
	}

	a {
		font-family: $font-lato-bold;
		color: #ffffff;
		font-size: 1.2rem;
		text-transform: uppercase;

		&:hover {
			color: $color-red-bg;
			cursor: pointer;
		}
	}
}