@import "../base/_fonts.scss";
@import "../abstracts/_variables.scss";

.description {
	color: $color-text;
}

.description-title {
	font-family: $font-lato-light;
	font-size: 1.8rem;
	line-height: 30px;
	padding-top: 11px;

	&.contact-description {
		padding-top: 0;
		line-height: 29px;
	}
}

.about-description,
.contact-list,
.small-text,
.copyright {
	font-family: $font-lato-regular;
	font-size: 1.2rem;
	line-height: 21.56px;
}

.form-wrapper {
	.small-text {
		margin-top: 0;
	}
}

.contact-description,
.contact-list,
.small-text {
	color: $color-text-red-block;
}

.contact-info {
	margin: 0 10px;
}

.contact-list {
	padding-left: 0;
	margin-top: 23px;
	list-style: none;

	.contact-list-item {
		padding-left: 24px;

		&.address {
			background: url("assets/icons/location.svg")3px center no-repeat;
		}

		&.phone-number {
			background: url("assets/icons/phone.svg")3px center no-repeat;
		}

		&.email {
			background: url("assets/icons/mail.svg")0 center no-repeat;
		}
	}
}

.copyright {
	margin-left: 3px;
	margin-top: 8px;
	color: #666d89;
}
