@import "../abstracts/_variables.scss"; 

@media screen and (max-width: $tablet-breakpoint) {
	.phone {

		.phone-img {
			width: 100%;
		}

		.phone-button {
			width: 31.5px;
			height: 31.5px;
			margin-left: -15px;

			&:after {
				width: 12.3px;
				height: 12.3px;
				border: 1px solid #bababa;
				margin-left: -8px;
				margin-top: -8px;
			}
		}

		.phone-dynamic {
			width: 27px;
			height: 3px;
			top: 27px;
			margin-left: -14px;
		}

		.phone-camera {
			width: 6.6px;
			height: 6.6px;
			top: 12.4px;

			&:after {
				width: 2.9px;
				height: 2.9px;
				margin-top: -1.4px;
				margin-left: -1.5px;
			}
		}

		.screen-vertical {
			width: calc(100% - 20px);
			height: 250px;
			top: 49px;
			left: 10px;
		}

		.screen-horizontal {
			height: 141px;
			width: 250px;
			top: 100px;
			left: -45px;
		}
	}

		.vertical-orient {
			left: 83.19px;
			top: 40.59px;
		}

	.horizont-orient {
		left: 54vw;
	}

	.block-slider {
		height: 447px;
		max-height: 447px;
	}
}

